@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

* {
    padding: 0 auto;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.title__purple {
    color: #6415ff;
}

button:hover {
    background-color: #7a3df4;
}

.container {
    padding: 80px 0;
}


/*

NAVIGATION

*/
.nav__title {
    margin-left: 8px;
}

.nav__links {
    font-size: 14px;
    margin-right: 0px;
}

.nav__link {
    margin: 0 20px;
    color: #243e63;
    opacity: 0.8;
}

.nav__container {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__img {
    height: 40px;
    display: block;
    margin-right: 0.5px;
    margin-left: 0px;
}

.nav__login {
    margin-left: 48px;
    margin-right: 24px;
    color: #243e63
}

.nav__sign {
    margin-right: 20px;
    border: 2px solid #6415ff;
    background-color: #6415ff;
    color: white;
    padding: 12px 32px;
    border-radius: 50px;
    transition: all 300ms ease;
}

.nav__sign:hover,
.work__btn {
    background-color: #7a3df4;
    transition: all 700ms ease;
}


/*

Recommendations page

*/

header {
    max-width: 1200px;
    padding: 100px 0;
}

.recommend__container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.recommend__title {
    font-size: 48px;
}

.recommend__para {
    font-size: 18px;
    color: gray;
    margin: 32px 0;
}

.recommend__left {
    width: 40%;
}

.recommend__right {
    width: 60%;
}

.recommend__img {
    width: 100%;
    margin-left: 20px;
}

.recommend__mini--container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recommend__form {
    display: flex;
    border: 2px solid lightgrey;
    padding: 2px;
    border-radius: 999px;
    margin-left: 0px;
}

.recommend__input {
    flex-grow: 2;
    border: none;
    outline: none;
    height: 45px;
    width: 252px;
    margin-left: 16px;
    font-size: 18px;
    font-weight: 400;
}

.recommend__btn {
    border: 1px solid #6415ff;
    background-color: #6415ff;
    color: white;
    padding: 10px 32px;
    border-radius: 999px;
    transition: all 500ms ease;
}

.recommend__img1 {
    height: 33px;
    margin: 16px 0 0;
    padding: 0 128px 0 0;
    opacity: 0.5;
}

.recommend__sponsor {
    margin-top: 80px;
}

.recommend__title--spons {
    color: gray;
    font-size: 12px;
    opacity: 0.5;
}

/*

Feature

*/


#features {
    margin: 0 300px;
    padding: 0 auto;
}

h4 {
    font-size: 16px;
    color: #6415ff;
}


.features__head {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.features__title {
    font-size: 48px;
}

.features__title--para {
    margin: 16px 0 0;
    opacity: 0.5;
    width: 45%;
    text-align: center;
}

.features__title--parag {
    font-size: 16px;
    opacity: 0.5;

}

.features__info {
    width: calc(100% / 3);
    display: flex;
    padding: 32px 8px;
    margin: 0 16px;
}

.features__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.features__img {
    display: flex;
}


.fas {
    font-size: 25px;
    border: 2px solid lightgray;
    margin-right: 8px;
    padding: 15px;
    border-radius: 100%;
    color: #6415ff;
}

/* 

Work Page

*/

.work__display {
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.work__text {
    width: 50%;
    margin-right: 20px;
}


.work__img {
    width: 50%;
    height: auto;
}

.work__img--picture {
    width: 100%;
}

.work__text--purple {
    font-size: 16px;
    color: #6415ff;
}

.work__title {
    font-size: 48px;
    margin: 16px 0 0;
}

.work__para {
    font-size: 18px;
    margin: 16px 0 0;
    font-weight: 500;
}

.work__btn {
    font: 14px;
    margin: 32px 0 0;
    padding: 12px 32px;
    background-color: #6415ff;
    color: white;
    border-radius: 50px;
    border: none;
}

/*

STEPS

*/

.steps__box {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps__img--picture {
    width: 100%;
}

.steps__img--page {
    width: 50%;
    margin-right: 20px;
}


.steps__steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.steps__small--title {
    color: #6415ff;
    font-size: 16px;
}

.steps__main--title {
    font-size: 48px;
    margin: 16px 0 0;
}

.steps__step {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-top: 30px;
}

.important__number {
    font-size: 36px;
    opacity: 0.3;
}

.steps__main--thing {
    margin-left: 24px;
}

.step__title {
    font-size: 20px;
}

.steap__para {
    margin-top: 12px;
    opacity: 0.3;
}

/*

PLAN PAGE

*/


.plan__page {
    display: flex;
    flex-direction: column;
    padding: 96px 0;
    margin: auto;
}

/* HEAD */


.plan__head {
    display: flex;
    flex-direction: column;
}

.plan__title--purple {
    color: #6415ff;
    font-size: 16px;
}

.plan__main--title {
    font-size: 48px;
    color: #243e63;
}

.plan__para {
    font-size: 18px;
    padding: 16px 0;
    color: #7C8BA1;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    opacity: 0.5;
}

.personal__pricing--box,
.enterprise__pricing,
.business__pricing {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
}

/* PLANS */

.plans {
    display: flex;
    margin: 0;
}

li {
    margin: 8px;
    font-size: 16px;
    opacity: 0.5;
    text-align: center;
}

.plan__list {
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
    color: #1a202C;
}

.plan__monthly {
    font-size: 16px;
    color: #a0aEC0;
}

.plan__button {
    padding: 32px 64px;
}

.personal__button,
.business__button,
.enterprise__button {
    padding: 16px 32px;
}

.indi__title {
    font-size: 20px;
    text-align: center;
}

/* PERSONAL */

.plan__personal {
    display: flex;
    flex-direction: column;
    border-top: 5px;
    border-radius: 10px;
    margin: 64px 32px 0 0;
    padding: 8px 32px 0px;
    width: 30%;
    border: 1px solid lightgray;
    border-top: 10px solid lightblue;
}


.pricing__title {
    font-size: 20px;
    color: #1a202C;
}

.personal__button {
    background-color: lightblue;
    border: none;
    border-radius: 50px;
    color: white;
}


/* BUSINESS */

.plan__business {
    display: flex;
    flex-direction: column;
    border-top: 5px;
    border-radius: 10px;
    margin: 64px 32px 0 0;
    padding: 8px 32px 0px;
    width: 30%;
    border: 1px solid lightgray;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.business__button {
    background-color: white;
    border: none;
    border-radius: 50px;
    color: rgb(76, 81, 191);
}

.business__white {
    color: white;
}

/*ENTERPRISE */


.plan__enterprise {
    display: flex;
    flex-direction: column;
    border-top: 5px;
    border-radius: 10px;
    margin: 64px 32px 0 0;
    padding: 8px 32px 0px;
    width: 30%;
    border: 1px solid lightgray;
    border-top: 10px solid lightcoral;
}

.enterprise__button {
    background-color: lightcoral;
    border: none;
    border-radius: 50px;
    color: white;
}

/* 

FOOTER

*/

#footer {
    background-color: #6415ff;
}

.footer__combine {
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.foot__list {
    display: flex;
    flex-direction: column;
}

.foot__title {
    font-size: 16px;
    color: white;
}